
.about h1{
    margin-top: 5%;
    color: white;
    text-align: center;
    font-size: 4rem;
}

.about div h3{
    color: rgb(179, 179, 179);
    line-height: 2.5rem;
    margin: 2% 10%;
}

@media(max-width:576px){
    .about h1{
        font-size: 2rem;
    }

    .about div h3{
        font-size: 1rem;
        line-height: 2rem;
    }
}